@media screen and (min-width: 1024px) {
    .about-container {
        padding-bottom: 41px;
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 30px;
        align-items: start;
    }
}