.achievements-slider {
    background-color: #F5F5FA;
    padding-top: 30px;
    &__border {
        padding-bottom: 30px;
        border-bottom: 2px solid #E6E6F0;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
    }
    &__item {
        margin: 0 30px;
        width: 255px;
        height: 90px;
        border-radius: 12px;
        background-color: #fff;
        &--01 {
            background-image: url(../img/achievements-slider/item-01.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &--02 {
            background-image: url(../img/achievements-slider/item-02.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &--03 {
            background-image: url(../img/achievements-slider/item-03.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &--04 {
            background-image: url(../img/achievements-slider/item-04.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &--05 {
            background-image: url(../img/achievements-slider/item-05.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &--06 {
            background-image: url(../img/achievements-slider/item-06.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}