.achivments {
    border-left: 4px solid #E6E6F0;
    padding-left: 30px;
    margin: 30px 0;
    &__item {
        display: flex;
        margin: 0;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        &--01 {
            display: flex;
            align-items: center;
            &::before {
                content: '';
                background-image: url(../img/achivments/item01.svg);
                background-size: 32px 32px;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                margin-right: 8px;
            }
        }
        &--02 {
            display: flex;
            align-items: center;
            &::before {
                content: '';
                background-image: url(../img/achivments/item02.svg);
                background-size: 32px 32px;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                margin-right: 8px;
            }
        }
        &--03 {
            display: flex;
            align-items: center;
            &::before {
                content: '';
                background-image: url(../img/achivments/item03.svg);
                background-size: 32px 32px;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                margin-right: 8px;
            }
        }
    }
    &__text {
        font-size: 16px;
        line-height: 20px;
        color: #323264;
        margin-bottom: 0;
        margin-top: 10px;
    }
    &__box {
        padding-bottom: 40px;
        &--pb0 {
            padding-bottom: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .achivments {
        margin-bottom: 60px;
    }
}