.blog {
    padding-top: 30px;
    background-color: #F5F5FA;;
    &__container {
        border-bottom: 2px solid #E6E6F0;;
    }
    &__link {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        &::after {
            content: '';
            width: 4px;
            height: 4px;
            border-right: 2px solid #24A3FF;
            border-bottom: 2px solid #24A3FF;
            margin-left: 5px;
            transform: rotate(315deg);
        }
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: $gr-redtext;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    &__box {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    &__img {
        border-radius: 8px 8px 0 0;
        width: 100%;
        object-fit: cover;
    }
    &__item {
        border-radius: 0 0 8px 8px;
        background-color: #fff;
        padding: 30px;
    }
    &__item-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #24A3FF;
    }
    &__date {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #B3B3BA;
        padding-bottom: 15px;
        border-bottom: 4px solid #E6E6F0;
    }
    &__text {
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
}

@media screen and (min-width: 768px) {
    .blog {
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content 1fr min-content;
            column-gap: 30px;
        }
        &__top {
            grid-column: 1 / 3;
        }
        &__box {
            &--wide {
                grid-column: 1 / 3;
            }
        }
        &__item {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    
}