.footer {
    background-color: #F5F5FA;
    padding: 30px 0;
    &__adress {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 21px;
    }
    &__adress-item {
        font-size: 16px;
        line-height: 20px;
        color: #323264;
        margin: 0;
        margin-bottom: 10px;
    }
    &__map {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        &:hover {
            color: #F0145A;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__fb-link {
        &:hover path {
            fill: #F0145A;
        }
    }
    &__phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #46466E;
        margin: 10px 0;
    }
    &__mail {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        &:hover {
            color: #F0145A;
        }
    }
    &__rights {
        text-align: center;
        margin-top: 30px;
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            &--dot {
                display: flex;
                align-items: center;
                &::after {
                    content: '';
                    background-color: #B3B3BA;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin: 0 6px;
                }
            }
        }
        &__adress {
            display: flex;
            flex-direction: row;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            &-item {
                margin: 0;
            }
        }
        &__contact {
            display: flex;
            flex-direction: row;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        &__rights {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin: 0;
            text-align: end;
        }
    }
}