.quality {
    padding-top: 30px;
    padding-bottom: 60px;
    &__text {
        font-size: 19px;
        line-height: 30px;
        color: #000000;
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: $gr-redtext;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .quality {
        &__title {
            font-size: 38px;
            line-height: 46px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .quality {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 60px;
        align-items: start;
        &__title {
            margin-top: 10px;
        }
    }
}